<!DOCTYPE html>
<html lang="{{ locale }}" class="h-full">
<head>
    {% include "head/head.njk" %}
    {% block css %}
        
    {% endblock %}
</head>
<body class="bg-primary-light-shade text-gray-900 h-full">
    <a 
        class="focus:translate-y-0 absolute z-50 p-4 m-1 text-red-500 transition-transform -translate-y-16 bg-black rounded-lg"
        href="#main-content"
        tabindex="0"
    >
        Skip Navigation
    </a>

    {% include 'nav.njk' %}
    
    {% block main %}
    <main class="flex-auto">
        {{ content | safe }}
    </main>    
    {% endblock %}
    
    {% include 'footer.njk' %}

    {% block scripts %}
    {% endblock %}
</body>

</html>
