{% extends "./base.njk" %}

{% block main %}
  <div class="w-full h-full flex flex-col">
    <div class="relative grow flex items-end" style="--image-url: url({{$imgSrc}});">
      <div class="pl-10 mb-6 z-10">
        <span class="text-red-100 font-bold text-xl">We want</span>
        <h1 class="text-white text-5xl font-bold">Happiness<br>Peace</h1>
      </div>
    </div>
    <div class="px-6 mb-8 z-10">
      <div class="px-4 py-5 bg-white rounded-lg shadow-lg">
        <h2 class="font-bold text-lg mb-4 text-primary-dark-shade">Check availability</h2>
        <form action="https://pensionalmhof.at/en/availability">
          <div class="grid grid-cols-2 gap-2 mb-4">
            <label>
              <span class="text-sm text-slate-600 flex items-center gap-1">
                <i class="material-symbols-outlined">flight_land</i>
                Check in
              </span>
              <input class="w-full p-1 bg-transparent text-lg text-gray-900 font-bold" type="date" placeholder="dd-MM-yyyy" name="checkin" required>
            </label>
            <label>
              <span class="text-sm text-slate-600 flex items-center gap-1">
                <i class="material-symbols-outlined">flight_takeoff</i>
                Check out
              </span>
              <input class="w-full p-1 bg-transparent text-lg text-gray-900 font-bold" type="date" placeholder="dd-MM-yyyy" name="checkout" required>
            </label>
          </div>
          <button type="submit" class="py-3 px-4 bg-primary-dark-accent rounded w-full block text-primary-light-shade font-bold">Check</button>
        </form>
      </div>
    </div>
  </div>

  <main>
    {{ content | safe }}
  </main>
{% endblock %}

{% block scripts %}
  <script src="/assets/js/homepage.js"></script>
{% endblock %}